<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="false">

    <listeners>
        <listener class-name="base.TestListener"/>
    </listeners>

    <!-- Define the test suite -->
    <test name="Test">
        <!-- Set any parameters (if needed) -->
<!--        <parameter name="browser" value="chrome"/>-->

        <!--        <packages>-->
        <!--            <package name="mytests" />-->
        <!--        </packages>-->

        <!--        Define the classes to be executed-->
        <classes>
            <class name="mytests.SampleTest"/>

        </classes>
    </test>

</suite> <!-- End of suite block -->
